<div class="white-text-container background-image-container" style="background-image: url('./assets/images/img-home.jpeg')">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <h1>{{title}}</h1>
                <p>Freelance Web Designer & Developer based in Ontario, Canada.<br>I help designers, small agencies and businesses bring their ideas to life.<br>Powered by AWS, GCP and Coffee.</p>
                 <a href="/about" title="" class="btn btn-lg btn-primary">More</a>
            </div>

        </div>
    </div>
</div>

<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>How can we work together!</h2>
                        <p> Here are few things i can help you out with</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>Website Design</h3>
                    </div>
                    <div>
                        <p>{{serv1}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>App Development</h3>
                    </div>
                    <div>
                        <p>{{serv2}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>SEO (Search Engine Optimisation)</h3>
                    </div>
                    <div>
                        <p>{{serv3}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>eCommerce Solution</h3>
                    </div>
                    <div>
                        <p>{{serv4}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>Social Media Integration</h3>
                    </div>
                    <div>
                        <p>{{serv5}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>Cloud Development</h3>
                    </div>
                    <div>
                        <p>{{serv6}}</p>
                    </div>
                </div>

            </div>
    </div>
</div>

<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>My Startup Projects</h2>
                    <p> I'm a bit of a digital product junky. Over the years, I've used hundreds of web and cloud apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.</p>
                    <a href="/projects" title="" class="btn btn-primary btn-lg">View Projects</a>
                </div>
            </div>
        </div>
     </div>
 </div>

 <div class="section-container">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>How else you can work with me!</h2>
                        <p>I am always happy to accommodate your business needs. Interested in something outside of my standard offerings? Feel free to inquire about my other services below.</p>
                    </div>
            </div>                  
            <div class="col-md-7">
                <img class="img-responsive" src="./assets/images/techsupport.png" alt="">
            </div>

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3>Code Review</h3>
                        <p>I will investigate your current application and determine its viability. I will then create a report detailing your application’s status and my recommended course of action for continued design and development.
                        </p>
                    </li>
                    <li>
                        <h3>Hourly Consulting</h3>
                        <p>I will work together to help you turn your vision into a viable application. You’ll be able to watch my progress and receive real-time feedback.
                        </p>
                    </li>
                    <li>
                        <h3>Partnership</h3>
                        <p>I strive to provide the best possible services to my partners. I would be happy to discuss how i can fit your needs in a customized capacity.
                        </p>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</div>
